* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  gap: 34px;
  background-color: rgb(47, 47, 54);
  justify-content: center; 
  padding: 10px;
  position: fixed;
  width: 100%;

}

li {
  list-style: none;
  padding: 23px;
  text-decoration: none; /* Remove underline */
}


footer {
  display: flex;
  gap: 34px;
  background-color: rgb(47, 47, 54);
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 0; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  justify-content: flex-end; 
}

  .nav-link {
    color: green;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: blue; 
  }
  
  .active {
    color: red; 
  }
  


.nav-link:hover {
  color: blue; 
}

.active {
  color: red;
}
.nav-link {
  width: 100; 
}
